<configuration>

    <system.webServer>

    <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
			<mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text" />
            <mimeMap fileExtension=".jsonp" mimeType="text/javascript" />
     </staticContent>

    </system.webServer>

</configuration> 